@media only screen and (max-width: 1200px) {
    /* For Large Desktop: */
   body.boxed .footer_inner, .boxed .header_inner {width: 100%!important;}
}
@media only screen and (max-width: 1024px) {
    /* For IPAD: */
   body.boxed .footer_inner, body.boxed .wrapper_inner, .boxed .header_inner {width: 95%;}
   body.boxed .footer_inner, .boxed .header_inner {width: 100%!important;}
   .header_inner_right {right: 1%!important;}
 

}
@media only screen and (max-width: 768px) {
    /* For MINI IPAD: */
    header {
    
    background-color: #000!important;
}
.footer_top h5 {}
.mpad20 {padding-top:15px;padding-left:0px;}
   
}
@media only screen and (max-width: 420px) {
    /* For SMART PHONE: */
   
}
@media only screen and (max-width: 320px) {
    /* For SMALL SCREEN: */
   
}