/*============================================================
Theme Name: web123-child
Theme URI: http://www.web123.com.au
Author: http://www.web123.com.au
Author URI:
Version: 1.0
Description:
Template: web123
Text Domain: web123
============================================================*/
@import url('href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,700,800"');

body.boxed .wrapper {background-size:cover;}
.header_top, .fixed_top_header .top_header, .fixed_top_header nav.mobile_menu {
background-color: transparent!important;
}
body.boxed .footer_inner, body.boxed .wrapper_inner, .boxed .header_inner{
width: 1024px;
margin: 0 auto;
}
.content {
    margin-top: 0px;
}
.container_inner {
width: 100%;
padding-top:0!important;
}
.form123 textarea {width:100%!important;border:1px solid rgba(0,0,0,0.07)!important;padding: 13px 10px!important;}
.form123 input[type="text"] {width:100%;border:1px solid rgba(0,0,0,0.07)!important;padding: 13px 10px!important;}
.form123 input[type="email"] {width:100%;border:1px solid rgba(0,0,0,0.07)!important;padding: 13px 10px!important;}
.form123 input[type="submit"] {margin-top: 30px;    background: #000;color: #fff!important;}
input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover {background-color:#000!important;
    border-color: rgba(0,0,0,0)!important;
    
    
}
.mpad20 {padding-top:25px;padding-left:20px;}
.vcbg .vc_row .wodesc {font-size:15px;font-weight:400;border-top: 1px dashed #000;padding: 6px 0px;}
                                                    .vcbg .vc_row:last-child .wodesc {border-bottom:1px dashed #000;}
.wptr .nextend-thumbnail-scroller {background:#000important;}                   


input.qode_search_field::-webkit-input-placeholder {
color: #ffffff;
}

.i001-product-list-thumbnails .i001-product-list-details {
text-align: center;
}
.i001-product-list-thumbnails .i001-product-list-details {
height: 67px;
background: #f5f5f5;
}
.i001-product-list-thumbnails .i001-product-list-details a {
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    color:#000;
    line-height:24px;
    
}
.i001-product-list-thumbnails .i001-product-list-buttons {
display: block;
text-align: center;
}
.i001-product-list-thumbnails .i001-product-list-buttons {
padding: 0 4px 8px;
height: 28px;
background: #f5f5f5;
overflow: hidden;
}
a.i001-css-button, .i001-css-button.new_v01 a, div a.i001-css-button.new_v01, div a.i001-css-button {
display: inline-block !important;
color: #ffffff;
text-decoration: none;
text-align: center;
float: none;
background: #cdd2d6;
border-radius: 0px;
padding: 6px 20px;
font-size: 12px;
    font-weight: normal;
}
p.es-feature {
color: #1d497f;
font-size: 21px!important;
    line-height: 37px!important;
}
.boxed .header_bottom {
padding: 0 0px!important;
}
footer a:hover {text-decoration:underline!important;}
nav.main_menu.drop_down.left a {
color: #ffffff;
}
.mobile_menu ul {padding:20px;}
nav.main_menu.drop_down.left li.active {
background: #112a49;
}
nav.main_menu.drop_down.left li:hover {
background: #112a49;
}
.header_top.clearfix {
height: 151px;
}
.q_logo img {
display: none;
}
nav.main_menu.drop_down.left {
left: 0px!important;
width: 100%;
background: #1d497f;
}
.header-img{    top: 30px;
position: absolute;
left: 0;}
.connect-img {
margin-right: 12px;
}
.facebook-img {
margin-right: 6px;
}
.top-right-block {
display: flex;
position: relative;
top: 90px;
}
.footer_top {
padding: 25px!important;
}
.vc_row {
margin-left: 0px!important;
margin-right: 0px!important;
}

.d_subscribe0.fi-wrap h3 {
font-size: 11pt;
}
.blurb-content-wrap a {
color: #000000;
}
.blurb-content-wrap a:hover {
color: #000000!important;
text-decoration: underline;
}
.footer_bottom_holder {
background-color: transparent!important;
}
.footer_bottom{
text-align: left;
}
.footer_bottom img{
position: relative;
top: 13px;
}
.town-btn a.qbutton.center.default {padding: 0px 18px;font-weight: 400;letter-spacing: 0.1px;}
.town-btn {
text-align: center;
}
.vc_col-sm-12 {line-height:22px;}
.privacy-policy {}
	.privacy-policy h1 {font-family:Arial;font-size: 21px;line-height: 38px;color: #1d497f;font-weight: 400;margin-bottom:10px;}
	.privacy-policy h2 {font-family:'Montserrat';font-size: 12px;line-height: 22px;color: #262626;font-weight: 700;margin-bottom:12px;}
	.privacy-policy h3 {font-family:'Montserrat';font-size: 12px;line-height: 22px;color: #262626;font-weight: 700;margin-bottom:2px;}
	.privacy-policy p {font-family:'Montserrat';font-size: 12px;line-height: 22px;color: #262626;font-weight: 400;margin-bottom: 30px;}
	.privacy-policy ul {padding-left: 40px;list-style-position: outside;margin-bottom: 30px;}

nav.main_menu.drop_down.left a {
color: #ffffff;
}
nav.main_menu.drop_down.left li.active {
background: #112a49;
}
nav.main_menu.drop_down.left li:hover {
background: #112a49;
}

.second ul li a {
padding: 4px 12px!important;
}
.second ul {
background: #000000!important;
padding: 0px!important;
}
.second ul li {
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.second ul li:hover {
background-color: rgba(255, 255, 255, 0.1)!important;
color:#ffffff!important;
}
.drop_down .second .inner ul li a, .drop_down .second .inner ul li h5 {
color: #ffffff!important;
}
ul#menu-main-menu li a span {
font-weight: 700;
font-size: 9pt;
letter-spacing: 0.1px;
}
ul#menu-main-menu li a {
padding: 0px 18.7px;
}
.header_inner_right {
position: absolute!important;
right: 4%!important;
/* top: 6%!important;*/
}
button {
position: absolute;
right: 0px;
top: 19px;
background: transparent;
outline: none;
border: none;
color: #ffffff;
}
input.qode_search_field {
background: transparent;
border: none;
padding: 10px 10px;
color: #ffffff;
top: -5px;
position: relative;
}
#searchform i.qode_icon_font_awesome.fa.fa-search.qode_icon_in_search {
transform: rotate(90deg);
opacity: .8;
font-size: 14px;
}
.header_bottom_widget.widget_text {
border-left: 1px solid #fff;
height: 24px;
}

form#mc4wp-form-1 input[type="text"] {
width: 97%;
padding: 8px 0px;
margin: 5px 0px;
padding-left: 10px;
}
form#mc4wp-form-1 input[type="email"] {
width: 97%;
padding: 8px 0px;
margin-bottom: 5px;
padding-left: 10px;
}
form#mc4wp-form-1 input[type="submit"] {
background: #265fa7 !important;
padding: 13px 39px !important;
margin-top: 5px !important;
font-size: 10pt !important;
border-color: #265fa7 !important;
float: right;
color: #ffffff;
text-transform: capitalize;
border: none;
}

#clickme {
    display: inline-block !important;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    float: none;
    background: #cdd2d6;
    border-radius: 0px;
    padding: 10px 20px;
    border:0px;
    outline:0;
    cursor:pointer;
}
.form123 label {
    font-weight: bold;
    line-height: 50px;
    color:#5a5a5a;
}
.button.bt {
    margin-left: 0px;
    margin-top: 30px;
}
div#respond {
    display: none;
}

body > div.wrapper > div > div > div > div.container > div > div > div > div.wpb_column.vc_column_container.vc_col-sm-9 > div > div > div > div > div.vc_row.wpb_row.section.vc_row-fluid > div > div:nth-child(1) > div > div > div > div > div > div.i001-product-list-image > a > img{
height: 179px!important;
    width: 205px!important;
    max-width: unset!important;
    min-width: unset!important;
    max-height: unset!important;
    min-height: unset!important;
}
.cattitle{
display: block;
}

body > div.wrapper > div > div > div > div.container > div > div > div > div.wpb_column.vc_column_container.vc_col-sm-9 > div > div > div > div > div:nth-child(2) > div.vc_col-sm-12 > div:nth-child(9) > img{

    position: relative;
    right: -28%;
}

@media screen and (max-width: 1000px){

body > div.wrapper > div > div > div > div.container > div > div > div > div.wpb_column.vc_column_container.vc_col-sm-9 > div > div > div > div > div:nth-child(2) > div.vc_col-sm-12 > div:nth-child(9) > img{

    position: relative;
    right: 0;
}
}

body > div.wrapper > div > div > div > div.container > div > div > div > div.wpb_column.vc_column_container.vc_col-sm-9 > div > div > div > div > div:nth-child(2) > div.vc_col-sm-12 > h5{
display: none;
}



